<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<form th:action="@{/user}" method="post">
    <label>
        Username:
        <input type="text" name="username" th:value="${user.username}"><br>
        <span th:errors="${user.username}"></span>
    </label>

    <label>
        Email:
    <input type = "text" name = "email" th:value="${user.email}"><br>
        <span th:errors="${user.email}"></span>
    </label>

    <label>
        Password:
    <input type="password" name="password"><br>
        <span th:errors="${user.password}"></span>
    </label>

    <label>
        Verify Password:
        <input type="password" th:value="${user.verify}"><br>
    </label>

    <p th:text="${error}" style="color:red;"></p>

    <input type="submit" value = "Sign Up!">
</form>

</body>
</html>