<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<form th:action="@{user/add}" method="post">
    <label>
        Username:
        <input type="text" th:value="${username}"><br>
    </label>

    <label>
        Email:
    <input type="email" th:value="${email}"><br>
    </label>

    <label>
        Password:
    <input type="password" th:value="${password}"><br>
    </label>

    <label>
        Verify Password:
        <input type="password" value="verify"><br>
    </label>

    <p th:text="${error}"></p>

    <input type="submit" value = "Sign Up!">
</form>

</body>
</html>